/* You can add global styles to this file, and also import other style files */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Fontawesome */
@import url(assets/fontawesome/css/all.css);
/* Font Family */
@import url(assets/fonts/font-inter.css);

:root {
  --primary: #27AE60;
  --gray: #00000073;
}

* {
  font-family: "Inter", Roboto, sans-serif;
}
