<div class="w-full h-screen bg-[#FAFAFA] flex flex-col items-center">
  <nz-avatar [nzSize]="32" [nzSrc]="(user$ | async)?.avatarUrl ?? commonConst.defaultAvatarPath"></nz-avatar>

  <div class="flex flex-col items-center gap-y-1 *:text-[22px]">
    <a routerLink="/chat"><i class="fa-light fa-comment-lines"></i></a>
  </div>

  <div class="flex flex-col items-center gap-y-1 mt-auto *:text-[22px]">
    <a routerLink="/setting"><i class="fa-light fa-gear"></i></a>
    <div (click)="onSignOut()"><i class="fa-light fa-arrow-right-from-bracket"></i></div>
  </div>
</div>
